<app-navbar></app-navbar>
<div class="container">
    <div>
    <div class = "column">
    <form class="info-form" >
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Name:</mat-label>
            <input matInput type="text" name="name"  [(ngModel)]="name">
        </mat-form-field><br> </form></div>
        <div class = "column">
        <form class="info-form">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Surname:</mat-label>
            <input matInput type="text" name="surname" [(ngModel)]="surname">
        </mat-form-field><br>
        </form>
    </div>
    <button class="button" mat-raised-button color="primary" (click)="search()">Search</button>
    <button class="button" mat-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>
    <div class ="table-header">
        <p class="table-title">Users</p>
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
            <td mat-cell *matCellDef="let user" class="cell-center">{{user.name}}</td>
        </ng-container>
        <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Surname </th>
            <td mat-cell *matCellDef="let user" class="cell-center">{{user.surname}}</td>
        </ng-container>
        <ng-container matColumnDef="jmbg">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> JMBG </th>
            <td mat-cell *matCellDef="let user" class="cell-center">{{user.jmbg}}</td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Phone Number </th>
            <td mat-cell *matCellDef="let user" class="cell-center">{{user.phoneNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> E-mail </th>
            <td  style="width: 30%;" mat-cell *matCellDef="let user" class="cell-center">{{user.email}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Type </th>
            <td mat-cell *matCellDef="let user" class="cell-center">{{user.type}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row (click)="addSelectedUser(row)"
        [class.row-is-clicked]="isSelectedUser(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class ="table-header">
        <p class="table-title">Selected user: {{selectedUser.name}} {{selectedUser.surname}}</p>
    </div>
    <table *ngIf="selectedUser.name != ''" mat-table [dataSource]="dataSourceAppointment">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Date </th>
            <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.date}}</td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Duration </th>
            <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.duration}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Description </th>
            <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.description}}</td>
        </ng-container>
        <ng-container matColumnDef="appointmentStatus">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Status </th>
            <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.appointmentStatus}}</td>
        </ng-container>
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Start </th>
            <td mat-cell *matCellDef="let appointment" class="cell-center">
                <button style="width: 100%;" class="button" mat-raised-button color="primary" [disabled]="check(appointment)" (click)="select(appointment)">Select</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAppointment; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAppointment;"></tr>
    </table>
</div>
