<div class="navbar">
  <div>
    <button class="logo button" mat-button color="secondary" routerLink="/">Krv+</button>
  </div>
  <div>
    <button class="button" mat-button color="secondary" (click)="navigateToCreateAppointment()">Create Appointment</button>
    <button class="button" mat-button color="secondary" (click)="navigateToStaffInfo()">Staff Info</button>
    <button class="button" mat-button color="secondary" (click)="navigateToCenterInfo()">Center Info</button>
    <button class="button" mat-button color="secondary" (click)="navigateToUsersPreview()">Users preview</button>
    <button class="button" mat-button color="secondary" (click)="navigateToCalendar()">Calendar</button>
    <button class="button" mat-button color="secondary" (click)="navigateToQR()">QR</button>
  </div>
  <div class="logout">
    <button class="button" mat-button color="secondary" (click)="logout()">Logout</button>
  </div>
</div>

