<app-navbar></app-navbar>

<div class="create-appointment-div">
    <span class="mat-display-1">Choose your preferenced date and time</span>
    <form class="create-appointment-form" [formGroup]="formGroup">
        <mat-form-field appearance="fill">
            <input matInput type="date" name="dateOfAppointment" formControlName="dateOfAppointment">
        </mat-form-field><br>
    </form>
        <div class="time-picker-div">
            <ngx-timepicker-field [(ngModel)]="timeOfAppointment"></ngx-timepicker-field><br>
            <mat-hint>If you dont choose time it will be 12:00 AM</mat-hint>
        </div><br>
        <button mat-raised-button color="primary" (click)="searchForSelectedDateTime()" [disabled]="timeOfAppointment=='' || timeOfAppointment=='12:00 PM' || !formGroup.valid">Search</button>
</div>