.news-card {
    margin-left: 0.25%;
    margin-right: 0.25%;
    margin-bottom: 1%;
    max-width:800px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  @media only screen and (max-width: 850px) {
    .news-card{
      max-width:400px;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .news-card{
      max-width:200px;
    }
  }

  .news-container{
    display: table;
    flex-wrap: wrap;
    justify-content: center;
  }

  .commands{
    display: flex;
    justify-content: flex-end;
  }
  
  .crop { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:200; max-height: 50px;}