<h1 class="title">Publish News</h1>
<mat-form-field class="title-field" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" [(ngModel)]="news.title">
  </mat-form-field>
  <br>
  <mat-form-field class="date-field" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="news.date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>
  <mat-form-field class="date-field" appearance="outline" color="primary" >
    <mat-label>Start Time:</mat-label>
    <input matInput [format]="24" [ngxTimepicker]="pickerStart" name="start" [(ngModel)]="news.startTime">
    <ngx-material-timepicker #pickerStart></ngx-material-timepicker>
  </mat-form-field>
  <br>
  <mat-form-field class="message-field" appearance="fill">
    <mat-label>Message</mat-label>
    <textarea matInput class="message-input" [(ngModel)]="news.text"></textarea>
  </mat-form-field>

  <div class="commands">
    <button (click)="closeDialog()" color="secondary" class="button" mat-raised-button>Cancel</button>
    <button (click)="publishNews()" color="primary" class="button" mat-raised-button>Publish</button>
  </div>