<div class="navbar">
  <div>
    <button class="logo button" mat-button color="secondary" routerLink="/">Krv+</button>
  </div>
  <div>
    <button class="button" mat-button color="secondary" (click)="navigateToCenters()">Centers</button>
    <button class="button" mat-button color="secondary" (click)="navigateToScheduleAppointment()">Schedule Appointment</button>
    <button class="button" mat-button color="secondary" (click)="navigateToMyAppointment()">My Appointments</button>
    <button class="button" mat-button color="secondary" (click)="navigateToQuestionnaire()">Questionnaire</button>
    <button class="button" mat-button color="secondary" (click)="navigateToUserInfo()">My Profile</button>
  </div>
  <div class="logout">
    <button class="button" mat-button color="secondary" (click)="logout()">Logout</button>
  </div>
</div>

