<app-navbar></app-navbar>

<div class="staff-info-div" *ngIf="user">
    <span class="mat-display-1">Staff info</span>
    <div>
    <div class="column">
        <form class="staff-info-form" [formGroup]="formGroup1">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Name:</mat-label>
            <input matInput type="text" name="name" formControlName="name" [(ngModel)]="user.firstName">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Surname:</mat-label>
            <input matInput type="text" name="surname" formControlName="surname" [(ngModel)]="user.lastName">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>JMBG(read only):</mat-label>
            <input matInput type="text" name="jmbg" formControlName="jmbg" readonly>
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Email(read only):</mat-label>
            <input matInput type="email" name="email" formControlName="email" readonly>
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Phone number:</mat-label>
            <input matInput type="text" name="phone" formControlName="phone" [(ngModel)]="user.phoneNumber">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Gender(read only):</mat-label>
            <input matInput type="text" name="gender" formControlName="gender" readonly>
        </mat-form-field>
        </form>
    </div>
    <div class="column">
        <form class="staff-info-form" [formGroup]="formGroup2">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Profession:</mat-label>
            <input matInput type="text" name="profession" formControlName="profession" [(ngModel)]="user.profession">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Profession info:</mat-label>
            <input matInput type="text" name="proinfo" formControlName="proinfo" [(ngModel)]="user.professionInfo">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Number:</mat-label>
            <input matInput type="text" name="num" formControlName="num">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Street:</mat-label>
            <input matInput type="text" name="street" formControlName="street" [(ngModel)]="user.address.street">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>City:</mat-label>
            <input matInput type="text" name="city" formControlName="city" [(ngModel)]="user.address.city">
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Country:</mat-label>
            <input matInput type="text" name="country" formControlName="country" [(ngModel)]="user.address.country">
        </mat-form-field>
    </form>
    </div>
    </div>
        <a href="http://localhost:28080/auth/realms/blood-bank/account/"><button class="button" mat-raised-button color="primary" [disabled]="!formGroup1.valid || !formGroup2.valid">Save changes</button></a>
        <button class="button" mat-raised-button color="primary" (click)="undoChanges()">Undo changes</button>
</div>
<br>
<div class="staff-info-div">
    <span class="mat-display-1">Update password</span>
    <form class="staff-info-form" [formGroup]="formGroupPassword">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Current password:</mat-label>
            <input matInput #password [type]="hideCur ? 'password' : 'text'" name="curPassword" formControlName="curPassword" [(ngModel)]="curPassword">
            <button mat-icon-button matSuffix (click)="hideCur = !hideCur" [attr.aria_label]="'Hide password'" [attr.aria-pressed]="hideCur">
                <mat-icon>{{hideCur ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>New password(min 8 characters):</mat-label>
            <input matInput [type]="hideNew ? 'password' : 'text'" name="newPassword" formControlName="newPassword" [(ngModel)]="newPassword">
            <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria_label]="'Hide password'" [attr.aria-pressed]="hideNew">
                <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Repeat password:</mat-label>
            <input matInput [type]="hideRep ? 'password' : 'text'" name="repeatPassword" formControlName="repeatPassword" [(ngModel)]="repeatPassword">
            <button mat-icon-button matSuffix (click)="hideRep = !hideRep" [attr.aria_label]="'Hide password'" [attr.aria-pressed]="hideRep">
                <mat-icon>{{hideRep ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field><br>
    </form>
        <a href="http://localhost:28080/auth/realms/blood-bank/account/"><button class="button" mat-raised-button color="primary" [disabled]="!formGroupPassword.valid">Update password</button></a>
</div>