.example-card {
  width: 500px;
  height: 200px;
  margin: auto;
  margin-top: 10%;
}
.progress-bar{
  margin: auto;
}

.question{
  text-align: center;
  height: 75px;
}

.commands{
  display: flex;
  justify-content: center;
}

.button{
  width: 100px;
  height: 48px;
  margin-left: 5%;
  margin-right: 5%;
}