
<div class="navbar">
  <div>
    <button class="logo button" mat-button color="secondary" routerLink="/">Krv+</button>
  </div>
  <div>
    <button class="button" mat-button color="secondary" (click)="navigateToCreateBloodCenter()">Create blood center</button>
    <button class="button" mat-button color="secondary" (click)="navigateToCreateStaff()">Create staff account</button>
    <button class="button" mat-button color="secondary" (click)="navigateToUsersPreview()">Users preview</button>
  </div>
  <div class="logout">
    <button class="button" mat-button color="secondary" (click)="logout()">Logout</button>
  </div>
</div>
