
<div class="navbar">
  <div>
    <button class="button" mat-button color="secondary" (click)="navigateToCreateBloodCenter()">Create blood center</button>
    <button class="button" mat-button color="secondary" (click)="navigateToCreateStaff()">Create staff account</button>
    <button class="button" mat-button color="secondary" (click)="navigateToUsersPreview()">Users preview</button>
    <button class="button" mat-button color="secondary" (click)="navigateToTenders()">Tenders</button>
    <button class="button" mat-button color="secondary" onclick="location.href='http://localhost:28080/auth/';">Create Admin</button>
    <button class="button" mat-button color="secondary" (click)="navigateToCreateAdmin()">Create admin account</button>
  </div>
  <div class="logout">
    <button class="button" mat-button color="secondary" (click)="logout()">Logout</button>
  </div>
</div>
